
SequenceFlow{
	routing:Rectilinear;
	roundedBendpointsRadius:20 ;
}

ControlFlow{
	routing:Rectilinear;
	roundedBendpointsRadius:20 ;
}

ObjectFlow{
	routing:Rectilinear;
	roundedBendpointsRadius:20 ;
	lineStyle:dotted;
}

ObjectFlow > Label{
	visible:false;
}

[appliedStereotypes~="BPMNProfile::Task"] > Compartment[kind="symbol"] {
	visible:false;
}

StructuredActivityNode > Compartment[kind="symbol"]{
	visible: false;
}


* > Label[type=StereotypeLabel] {
	visible:false;
	displayTags: false;
}

[appliedStereotypes~="BPMNProfile::Task"]
{
	fillColor: white;
	displayTags: false;
	maskLabel: stereotype;
}


[appliedStereotypes~="BPMNProfile::GlobalTask"]
{
	fillColor: white;
	displayTags: false;
}

[appliedStereotypes~="BPMNProfile::SubProcess"]{
	borderStyle: solid;
	fillColor: white;
	displayTags: false;
}

[appliedStereotypes~="BPMNProfile::Task"]{
	fillColor: white;
	displayTags: false;
}

[appliedStereotypes~="BPMNProfile::CallActivity"]{
	fillColor: white;
	displayTags: false;
}

[appliedStereotypes~="BPMNProfile::ManualTask"]{
	leftMarginLabel : 30;
	rightMarginLabel : 2;
	fillColor: white;
	displayTags: false;
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/ManualTask.svg";
	shapeVisibility: true;
}

[appliedStereotypes~="BPMNProfile::ManualTask"] > Compartment[kind="symbol"] {
	visible:false;
}

[appliedStereotypes~="BPMNProfile::ReceiveTask"]{
	leftMarginLabel : 30;
	rightMarginLabel : 2;
	fillColor: white;
	displayTags: false;
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/ReceiveTask.svg";
	shapeVisibility: true;
}

[appliedStereotypes~="BPMNProfile::UserTask"]{
	leftMarginLabel : 30;
	rightMarginLabel : 2;
	fillColor: white;
	displayTags: false;
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/UserTask.svg";
	shapeVisibility: true;
}

[appliedStereotypes~="BPMNProfile::UserTask"] > Compartment[kind="symbol"] {
	visible:false;
}

[appliedStereotypes~="BPMNProfile::ScriptTask"]{
	leftMarginLabel : 30;
	rightMarginLabel : 2;
	fillColor: white;
	displayTags: false;
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/ScriptTask.svg";
	shapeVisibility: true;
}

[appliedStereotypes~="BPMNProfile::ScriptTask"] > Compartment[kind="symbol"] {
	visible:false;
}

[appliedStereotypes~="BPMNProfile::BusinessRuleTask"]{
	leftMarginLabel : 30;
	rightMarginLabel : 2;
	fillColor: white;
	displayTags: false;
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/BusinessRuleTask.svg";
	shapeVisibility: true;
}

[appliedStereotypes~="BPMNProfile::BusinessRuleTask"] > Compartment[kind="symbol"] {
	visible:false;
}

[appliedStereotypes~="BPMNProfile::SendTask"]{
	leftMarginLabel : 34;
	rightMarginLabel : 2;
	fillColor: white;
	displayTags: false;
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/SendTask.svg";
	shapeVisibility: true;
}

[appliedStereotypes~="BPMNProfile::SendTask"] > Compartment[kind="symbol"] {
	visible:false;
}

[appliedStereotypes~="BPMNProfile::ServiceTask"]{
	leftMarginLabel : 34;
	rightMarginLabel : 2;
	fillColor: white;
	displayTags: false;
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/ServiceTask.svg";
	shapeVisibility: true;
}

[appliedStereotypes~="BPMNProfile::ServiceTask"] > Compartment[kind="symbol"] {
	visible:false;
}

[appliedStereotypes~="BPMNProfile::Task"] > Compartment[kind="symbol"] {
	visible:false;
}

[appliedStereotypes~="BPMNProfile::ParallelGateway"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/parallel.svg";
	transparency: 100;
	followSVGSymbol: true;
	displayTags: false;
	displayName : false;
	maintainSymbolRatio:true;
	maskLabel: stereotypeName;
}

[appliedStereotypes~="BPMNProfile::ParallelGateway"] > Compartment[kind="symbol"] {
	visible:true;
}

[appliedStereotypes~="BPMNProfile::ExclusiveGateway"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/ExclusiveGateway.svg";
	transparency: 100;
	followSVGSymbol: true;
	displayTags: false;
	displayName : false;
	maintainSymbolRatio:true;
}

[appliedStereotypes~="BPMNProfile::ExclusiveGateway"] > Compartment[kind="symbol"] {
	visible:true;
}

[appliedStereotypes~="BPMNProfile::InclusiveGateway"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/InclusiveGateway.svg";
	transparency: 100;
	followSVGSymbol: true;
	displayTags: false;
	displayName: false;
	maintainSymbolRatio:true;
}

[appliedStereotypes~="BPMNProfile::InclusiveGateway"] > Compartment[kind="symbol"] {
	visible:true;
}

[appliedStereotypes~="BPMNProfile::EventBasedGateway"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/EventBasedGateway.svg";
	transparency: 100;
	followSVGSymbol: true;
	displayTags: false;
	displayName: false;
	maintainSymbolRatio:true;
}

[appliedStereotypes~="BPMNProfile::EventBasedGateway"] > Compartment[kind="symbol"] {
	visible:true;
}

[appliedStereotypes~="BPMNProfile::StartEvent"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/StartEvent.svg";
	transparency: 100;
	fillColor: white;
	followSVGSymbol: true;
	displayName: false;
}

[appliedStereotypes~="BPMNProfile::MessageEventDefinition"]
{
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/StartMessageEvent.svg";
	transparency: 100;
	fillColor: white;
	followSVGSymbol: true;
	displayName: false;
}

[appliedStereotypes~="BPMNProfile::IntermediateCatchEvent"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/IntermediateEvent.svg";
	transparency: 100;
	maintainSymbolRatio: true;
	displayName: true;
}

[appliedStereotypes~="BPMNProfile::IntermediateThrowEvent"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/IntermediateEvent.svg";
	transparency: 100;
	maintainSymbolRatio: false;
	displayName: true;
}

[appliedStereotypes~="BPMNProfile::IntermediateThrowEvent"] > Label:name{
	visible: true;
}


[appliedStereotypes~="BPMNProfile::EndEvent"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/EndEvent.svg";
	transparency: 100;
	maintainSymbolRatio: true;
	followSVGSymbol: true;
	displayName: false;
}


[appliedStereotypes~="BPMNProfile::DataInput"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/DataInput.svg";
	transparency: 100;
	maintainSymbolRatio: true;
}

[appliedStereotypes~="BPMNProfile::DataOutput"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/DataOutput.svg";
	transparency: 100;
	maintainSymbolRatio: true;
}

[appliedStereotypes~="BPMNProfile::SequenceFlow"]{
	displayName: false;
}

[appliedStereotypes~="BPMNProfile::DataStoreReference"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/DataStore.svg";
	transparency: 100;
	displayTags: false;
	followSVGSymbol: true;
	topMarginLabel:2;
	bottomMarginLabel:2;

}

[appliedStereotypes~="BPMNProfile::DataStoreReference"] > Compartment[kind="symbol"] {
	visible:true;
}

alternateBorderColor path{
	stroke: red;
}

[appliedStereotypes~="BPMNProfile::DataStoreReference"][name="10"]{
	/*
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/DataStore10.svg";
	 * */

	transparency: 100;
	displayTags: false;
	maskLabel: stereotypeName;
	svgCSSClass: alternateBorderColor;

}



[appliedStereotypes~="BPMNProfile::DataStoreReference"] > Label:stereotype {
	visible:false;
}

[appliedStereotypes~="BPMNProfile::Lane"] > Compartment[kind="ActivityPartitionContentCompartment"] {
	visible: false;
}
[appliedStereotypes~="BPMNProfile::Lane"] > Compartment[kind="symbol"] {
	visible: false;
}

[appliedStereotypes~="BPMNProfile::DataObject"]{
	svgFile: "platform:/plugin/org.eclipse.papyrus.bpmn.diagram.common/shapes/DataObject.svg";
	transparency: 100;
	maintainSymbolRatio: true;
	displayTags: false;
	topMarginLabel:2;
	bottomMarginLabel:2;
	followSVGSymbol: true;
}

[appliedStereotypes~="BPMNProfile::DataObject"] > Compartment[kind="symbol"] {
	visible:true;
}


[appliedStereotypes~="BPMNProfile::ManualTask"][name="10"]{
	lineColor: red;
}

[appliedStereotypes~="BPMNProfile::Task"] > Label:stereotype {
	visible:false;
}

[appliedStereotypes~="BPMNProfile::Lane"] > Compartment[kind="ActivityPartitionContentCompartment"] {
	visible: false;
}
[appliedStereotypes~="BPMNProfile::Lane"] > Compartment[kind="symbol"] {
	visible: false;
}


ActivityParameterNode[appliedStereotypes~="BPMNProfile::DataOutput"] {
	transparency:0.0;
	lineWidth:2.0;
	elementIcon:false;
}

ActivityParameterNode[appliedStereotypes~="BPMNProfile::DataOutput"]  Compartment[kind="symbol"]{
	visible: false;
}

ActivityParameterNode[appliedStereotypes~="BPMNProfile::DataInput"] {
	transparency:0.0;
	lineWidth:1.0;
	elementIcon:false;
}

ActivityParameterNode[appliedStereotypes~="BPMNProfile::DataInput"]  Compartment[kind="symbol"]{
	visible: false;
}

[appliedStereotypes~="BPMNProfile::DataInput"] > Label {
	visible:false;
}

[appliedStereotypes~="BPMNProfile::DataOutput"] > Label {
	visible:false;
}

[appliedStereotypes~="BPMNProfile::SequenceFlow"] > Label{
	visible:false;
}

[appliedStereotypes~="BPMNProfile::StartEvent"] > Label{
	visible:false;
}

[appliedStereotypes~="BPMNProfile::EndEvent"] > Label{
	visible:false;
}
