<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.architecture.models">
      <model
            path="model/bpmn.architecture">
      </model>
   </extension>
   <extension
           point="org.eclipse.papyrus.infra.gmfdiag.common.diagramReconciler">
      <diagramReconciler
              diagramType="PapyrusUMLActivityDiagram"
              reconcilerClass="org.eclipse.papyrus.bpmn.architecture.migration.NeonToOxygenDiagramReconcilier"
              source="1.2.0"
              target="1.3.0">
      </diagramReconciler>
   </extension>
</plugin>
